@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 2% 98%;
        --foreground: 222.2 84% 4.9%;
        --primary: 214, 84%, 56%;
        --primary-hover: 214, 100%, 61%;
        --primary-active: 214, 100%, 45%;
        --secondary: 0 0% 22.35%;
        --secondary-hover: 0 0% 28%;
        --secondary-active: 0 0% 44%;
        --destructive: 357 76% 49%;
        --destructive-hover: 357 76% 41%;
        --destructive-active: 357 79% 26%;
        --radius: 0.5rem;
    }
}

@layer base {
    body {
        @apply min-h-svh bg-white text-foreground;
    }
}
