MONGODB_URI="YOUR_MONGODB_CLUSTER_URL"
MONGODB_URI_E2E="YOUR_E2E_MONGODB_CLUSTER_URL"
JWT_SECRET_KEY="YOUR_JWT_SECRET_KEY"
FRONTEND_URL="http://localhost:3000"

# cloudinary env variables
CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"
LOCATIONIQ_API_KEY="YOUR_LOCATIONIQ_API_KEY"
