MONGODB_URI="YOUR_MONGODB_CLUSTER_URL"
MONGODB_URI_E2E="YOUR_E2E_MONGODB_CLUSTER_URL"
JWT_SECRET_KEY="YOUR_JWT_SECRET_KEY"

# Frontend URL for CORS and redirects
FRONTEND_URL="http://localhost:3000"
LOCATIONIQ_API_KEY="YOUR_LOCATIONIQ_API_KEY"