# Environment variables for Vihara backend

# PORT number for the server to listen on
PORT="4000"

# MongoDB Database connection strings
MONGODB_URI="YOUR_MONGODB_CLUSTER_URL"
MONGODB_URI_E2E="YOUR_E2E_MONGODB_CLUSTER_URL"

# JWT secret key for signing tokens
JWT_SECRET_KEY="YOUR_JWT_SECRET_KEY"

# Frontend URL for CORS and redirects
FRONTEND_URL="http://localhost:3000"

# cloudinary env variables
CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"

# Stripe API Key
STRIPE_SECRET_KEY="YOUR_STRIPE_SECRET_KEY"